#open-chat{
  background-color: transparent;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 2em;
  right: 2.8em;
  outline: none;
}

#open-chat > img{
  width: 3em;
  height: 3em;
}

.chat-popup {
  display: block;
  position: fixed;
  bottom: 6em;
  right: 4.5em;
  z-index: 9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 1.2em;
}
.chat-container {
  max-height: 35em;
  min-width: 15em;
  min-width: 19em;
  min-height: 30em;
  background-color: white;
}

.chat-company{
  background-color: blue;
}
.chat-company > h2{
  margin: 0;
  padding: 0.3em;
  color: white;
}
.chat-area{
  padding: 1em;
}

.chat-area > input{
  bottom: 1em;
  position: absolute;
  width: 85%;
  height: 2em;
}